<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta
		http-equiv="x-ua-compatible"
		content="ie=edge"
	/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1"
	/>
	<title>Lightning Out POC</title>

	<!--Load Lightning Out Script from Salesforce-->
	<script src="<%- sfdcServerUrl %>/lightning/lightning.out.js"></script>
</head>


<body>
	<h1>Unauthorized</h1>
	<div id="lwcLightningUnauthorized"></div>
	<br>
	<br>
	<h1>Authorized</h1>
	<div id="lwcLightningAuthorized"></div>
</body>


<script>
	//Unauthorized
	$Lightning.use(
		"<%- appName %>",
		() => {
			$Lightning.createComponent(
				"<%- lwcCmpName %>",
				{ msg: "It works (LWC)!" },
				"lwcLightningUnauthorized",
				(cmp) => {
					console.log("LWC component was created (unauthorized)");
				}
			);
		},
		"<%- experienceSiteUrl %>"
	);

	//Authorized
	$Lightning.use(
		"<%- appName %>",
		() => {
			$Lightning.createComponent(
				"<%- lwcCmpName %>",
				{ msg: "It works (LWC)!" },
				"lwcLightningAuthorized",
				(cmp) => {
					console.log("LWC component was created (authorized)");
				}
			);
		},
		"<%- experienceSiteUrl %>",
		"<%- accessToken %>"
	);
</script>

</html>